# Z-score
It is an important concept in statistics. It is also called standard score.

It helps to understand if a data value is greater or smaller than mean and how far away it is from mean.

It tells how many standard deviations away a data is from mean.

# Algorithm
1) Read the data.

2) Calculate mean value of data.

3) Calculate standard deviation of data.

4) for i in data

   Calculate Z-score=(i-mean)/standard deviation
   
   if Z-score>3 OR Z-score<-3

   Add to outlier list.

5) Print outliers.

In [1]:
import pandas as pd
df=pd.read_csv("heights-outlier_1.csv")

In [2]:
df.columns

Index(['name', 'height'], dtype='object')

In [3]:
mean=df.height.mean()
mean

np.float64(8.39)

In [4]:
std=df.height.std()
std

np.float64(8.782812162040369)

In [8]:

df["z_score"]=(df.height-mean)/std
df.head(100)

       name  height   z_score
0     mohan     1.2 -0.818644
1     maria     2.3 -0.693400
2     sakib     4.9 -0.397367
3       tao     5.1 -0.374595
4     virat     5.2 -0.363209
5    khusbu     5.4 -0.340438
6    dmitry     5.5 -0.329052
7    selena     5.5 -0.329052
8      john     5.6 -0.317666
9     imran     5.6 -0.317666
10     jose     5.8 -0.294894
11  deepika     5.9 -0.283508
12   yoseph     6.0 -0.272122
13    binod     6.1 -0.260737
14  gulshan     6.2 -0.249351
15  johnson     6.5 -0.215193
16   donald     7.1 -0.146878
17    aamir    14.5  0.695677
18      ken    23.2  1.686248
19      Liu    40.2  3.621847

In [10]:
outliers=df[(df.z_score >3) | (df.z_score <-3)]
outliers

   name  height   z_score
19  Liu    40.2  3.621847